body {
    margin: 0;

    background-image: linear-gradient(155deg, hsla(229, 56%, 18%, 1) 4%, hsla(236, 27%, 23%, 1) 29%, hsla(325, 13%, 25%, 1) 54%, hsla(23, 63%, 34%, 1) 87%, hsla(23, 62%, 42%, 1) 100%);
    /* background-image: -webkit-linear-gradient(85deg, #a2d1e8, #5fbbe8, #086fa1, #225d7a, #03496a);
    background-image: -moz-linear-gradient(85deg, #a2d1e8, #5fbbe8, #086fa1, #225d7a, #03496a);
    background-image: -o-linear-gradient(85deg, #a2d1e8, #5fbbe8, #086fa1, #225d7a, #03496a); */
    background-attachment: fixed;

    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat Medium', serif;

    -webkit-font-smoothing: antialiased;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: 3px solid #fff;

    cursor: pointer;

    border-radius: 100px;
    width: 50px;
    height: 50px;
}

/* Header
======================*/

.header {
    background-color: hsla(23, 63%, 34%, 1);
    opacity: 0.85;
    display: flex;
    align-items: center;
    height: 70px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.navs {
    display: flex;
    align-items: center;
}

.nav {
    margin: 10px 20px 10px;
    text-transform: uppercase;
}


.login {
    width: 200px;
    display: flex;
    justify-content: center;
}

.login_inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login_icon {
    fill: #fff;
    width: 50px;
    height: 50px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login_inner:hover {
    width: 125px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.login_inner:hover .login_icon {
    fill: hsla(229, 56%, 18%, 1);
    transition: .3s;
}