.bubbles {
    z-index: -1;
}

.container {
    width: 1000px;
}

/* Work
======================*/
.work {
    height: 100vh;
    display: flex;
    align-items: center;
}

.work-title {
    padding: 0 150px;
    text-align: center;
    font-size: 40px;
}

.work-img {
    width: 300px;
}

.work-block {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.work-block-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.work-text {
    font-size: 30px;
    padding: 20px;
}


/* Button
======================*/
a {
    background-color: transparent; 
    border: none; 
    border-radius: none; 
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 20px;
}

.button {
    position: relative;
    z-index: 0;
    display: inline-block;
}

.button__self {
    -webkit-appearance: none;
    position: relative;
    overflow: visible;
    display: block;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    border-radius: 9in;
    background: linear-gradient(90deg, #f5ae4a, #f76e54);
    color: #fff;
    cursor: pointer;
    outline: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button__self::before {
    content: "";
    opacity: 0.75;
    transform: translateY(20%) scale(0.9);
    filter: blur(4px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.button__inner {
    position: relative;
    overflow: hidden;
    padding: 0.75em 1.75em;
    display: flex;
    align-items: center;
    border-radius: inherit;
    -webkit-transition: 125ms;
    -moz-transition: 125ms;
    -o-transition: 125ms;
    transition: 125ms;
}

.button__icon,
.button__text {
    position: relative;
    margin: 0 0.25em;
}

.button__icon {
    font-size: 24px;
    width: 1em;
    height: 1em;
}

.button__inner::before {
    content: "";
    transform: skew(-20deg) translateX(-100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,
            hsla(0, 0%, 100%, 0),
            hsla(0, 0%, 100%, 0.3),
            hsla(0, 0%, 100%, 0));
}

.button__self:hover {
    transform: translateY(-2px);
}

.button__self:hover::before {
    opacity: 0.4;
    transform: translateY(35%) scale(0.9);
}

.button__self:hover .button__inner {
    background: hsla(0, 0%, 100%, 0.1);
}

.button__self:hover .button__inner::before {
    animation: shine 0.75s both;
}

.button__self:active .button__inner {
    background: hsla(0, 0%, 0%, 0.05);
}

@keyframes shine {
    to {
        transform: translateX(100%);
    }
}