body {
    overflow-x: hidden;
}

.block {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    content: "";

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.bubbles {
    z-index: -1000;
}

/* Menu
======================*/
.menu {
    position: fixed;
    display: flex;
    flex-direction: column;

    background-color: hsla(229, 56%, 18%, 1);
    width: 300px;
    height: 100vh;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 1;
}

button {
    background: none;
    border: none;
    padding: 0;

    font-family: 'Montserrat Light', serif;
    font-size: 18px;
    color: #fff;
}

.menu.close {
    transform: translate(-230px, 0);
}

.menu.close .menu-nav:hover use {
    fill: hsla(23, 62%, 42%, 1);
}

.menu.close .user:hover use {
    stroke: hsla(23, 62%, 42%, 1);
}

.menu.close a.menu-nav:hover use {
    stroke: hsla(23, 62%, 42%, 1);
}

.menu-inner {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    height: 100%;
}

.menu-navs {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column
}

.menu-nav {
    position: relative;

    text-transform: uppercase;
    font-family: 'Montserrat Medium', serif;
    font-size: 24px;

    border-top: 2px solid #fff;
}

use {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    fill: #fff;
}

.menu-nav:hover use {
    fill: hsla(229, 56%, 18%, 1);
}

.menu-nav:last-child {
    border-bottom: 2px solid #fff;
}

a.menu-nav {
    border-radius: 0;
    border-right: none;
    border-left: none;
    text-decoration: none;
    color: #fff;
}

.user {
    border-top: 2px solid #fff;
}

.user:hover use {
    stroke: hsla(229, 56%, 18%, 1);
}

.common,
button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 80px;
    padding-left: 20px;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.common:hover,
button:hover {
    background-color: #fff;
    color: hsla(229, 56%, 18%, 1);
}

.user use {
    stroke: #fff;
}

.menu-icon {
    height: 50px;
    width: 50px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

}

a use {
    transform: scale(2.6);
    stroke: #fff;
}

a.href:hover use {
    stroke: hsla(229, 56%, 18%, 1);
}

.menu-icon.move {
    transform: translate(15%, 15%);
}

.menu-icon.small {
    position: absolute;
    right: -50px;
    content: "";
    display: none;
}

.menu.close .menu-icon.small {
    right: -71px;
    display: block;
    animation: fadeInFromNone 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

span {
    margin-left: 20px;
}

.logout {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Button burger and back
======================*/
.btn-inner {
    display: flex;
    width: 100%;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.btn {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    right: 0;
    top: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn .icon {
    position: absolute;
    height: 2px;
    width: 30px;
    top: 15px;
    background-color: #fff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn.burger {
    transform: translateX(100px);
    display: block;
}

.btn.burger .icon:before {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: -12px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn.burger .icon:after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: 12px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menu.close .btn-inner .burger {
    transform: translateX(0);
}

.btn.back .icon:before {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: -10px;
    transform: rotateZ(-45deg) scaleX(0.5) translate(-23px, -4px);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn.back .icon:after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: 10px;
    transform: rotateZ(45deg) scaleX(0.5) translate(-23px, 4px);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menu.close .menu-inner {
    transform: translateX(-80px);
}

.menu.close .btn-inner .back {
    transform: translateX(100px);
}

.btn:hover .icon:before,
.btn:hover .icon:after,
.btn:hover .icon {
    background-color: hsla(23, 62%, 42%, 1);
}


/* Add Content
======================*/
.all-content {
    position: relative;
    top: 0;
    right: 0;

    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.all-contetn-inner {
    position: absolute;
    top: 0;
    right: 0;

    width: 82vw;
    height: inherit;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.all-contetn-inner.close {
    width: 92vw;
}

.shell {
    height: inherit;
}

.shell {
    display: none;
}

.shell.open {
    display: block;
    animation: fadeInFromNone 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.elemrnt-main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 46px;
    line-height: 1.7;
    text-align: center;
    height: inherit;
}

.main-user {
    font-family: 'Montserrat Medium', serif;
    font-size: 50px;
}

.elemrnt-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-title {
    margin: 30px;
    font-size: 30px;
}

.projects-adding {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 150px;
}


.projects-file {
    display: flex;
    height: inherit;
    flex-direction: column;
    width: inherit;
}

.projects-file small {
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

.filelabel {
    width: 150px;
    height: 100%;
    border: 2px dashed grey;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    -webkit-transition: border 300ms ease;
    -moz-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.filelabel span {
    margin: 0;
}

.filelabel i {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
}

.filelabel i,
.filelabel-title {
    color: grey;
    -webkit-transition: 200ms color;
    -moz-transition: 200ms color;
    -o-transition: 200ms color;
    transition: 200ms color;
}

.filelabel:hover {
    border: 2px solid #1665c4;
}

.filelabel:hover i,
.filelabel:hover .filelabel-title {
    color: #1665c4;
}

#FileInput {
    display: none;
}


.adding-right {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.projects-input {
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
}

.projects-btn {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px 35px;

    border-radius: 5px;
    border: #fff solid 2px;
}


/* Content
======================*/
.content {
    position: absolute;
    top: 300px;
    right: 0;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-block {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 80%;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 10px 0;
}

.content-block:hover {
    background-color: rgba(255, 255, 255, 1);
}

.content-href {
    border: none;
    text-decoration: none;
}

.content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: hsla(229, 56%, 18%, 1);
}

.content-left {
    display: flex;
    position: relative;
    width: auto;
}

.content-num {
    position: absolute;
    top: 0;
    left: 0;
}

.content-name {
    margin: 0 40px;
    width: 100%;
    max-width: 700px;
}

.content-date {
    margin-right: 130px;
    width: 180px;
    text-align: center;
}

#showmore-triger {
    position: absolute;
    bottom: -50px;
    padding: 10px;
}

/* Button delete
======================*/
.btn-shell {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-delete {
    position: relative;

    width: 120px;
    height: 30px;
    z-index: 5;

    overflow: hidden;
}

.btn-element {
    width: 120px;
    height: 30px;

    border: none;
    padding: 0 1em;

    font-size: 12px;
    color: #fff;
    line-height: 40px;

    display: flex;
    text-align: center;
    background: none;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    justify-content: center;
}

.btn-primary {
    background-color: #d65a57;
}

.btn-primary:hover {
    background-color: #db6e6b;
}

.btn-refusal {
    background-color: #9c9c9c;
}

.btn-refusal:hover {
    background-color: #8f8f8f;
}

.btn-accept {
    background-color: #787878;
}

.btn-accept:hover {
    background-color: #6b6b6b;
}

.button-set {
    display: flex;
    margin-top: 1px;
    height: 30px;
}

.button-set .btn-element {
    width: 50%;
    padding: 0;
}

.button-set {
    margin-top: 0;
}

.btn-primary {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.btn-primary.btn-active {
    transform: translateY(-100%);
}

@media(max-width: 1600px) {
    .all-contetn-inner {
        width: 80vw;
    }
    
    .all-contetn-inner.close {
        width: 90vw;
    }
}

@media(max-width: 1450px) {
    .all-contetn-inner {
        width: 75vw;
    }
    
    .all-contetn-inner.close {
        width: 95vw;
    }
}

@media(max-width: 1150px) {
    .menu {
        width: 250px;
    }
    .menu.close {
        transform: translate(-200px, 0);
    }
    .menu-navs, .btn-inner {
        zoom: 80%;
    }

    .btn.burger .icon:after {
        height: 3px;
    }

    .menu.close .menu-icon.small {
        right: -92px;
    }

}