.bubbles.reverce {
    transform: rotate(180deg);
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Regular", sans-serif;
    overflow: hidden;
}

/* Registration and authorization forms
======================*/
.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container {
    position: relative;
    width: 600px;
    margin: 30px auto 0;
    height: 320px;
    background-color: hsla(229, 56%, 18%, 1);
    top: 50%;
    margin-top: -160px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container .box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container .box:before,
.container .box:after {
    content: " ";
    position: absolute;
    left: 152px;
    top: 50px;
    background-color: rgb(15, 23, 54);
    transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
    width: 300px;
    height: 285px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container .box:after {
    background-color: rgb(30, 45, 103);
    top: -10px;
    left: 80px;
    width: 320px;
    height: 180px;
}

.container .container-forms {
    position: relative;
}

.container .btn,
.container input {
    padding: 10px 15px;
}

.container input {
    margin: 0 auto 2px;
    display: block;
    width: 220px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container .container-forms .container-info {
    text-align: left;
    font-size: 0;
}

.container .container-forms .container-info .info-item {
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    opacity: 1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container .container-forms .container-info .info-item p {
    font-size: 20px;
    margin: 20px;
}

.container .container-forms .container-info .info-item .table-cell {
    padding-right: 35px;
}

.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
    padding-left: 35px;
    padding-right: 0;
}

.container .container-form {
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: -30px;
    width: 305px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container .container-form:before {
    content: "✔";
    position: absolute;
    left: 160px;
    top: -50px;
    color: hsla(229, 56%, 18%, 1);
    font-size: 130px;
    opacity: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container .container-form .btn {
    position: relative;
    margin-top: 10px;
}

.container .form-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container .form-item.sign-up {
    position: absolute;
    left: -100%;
    opacity: 0;
}

.container.log-in .box:before {
    position: absolute;
    left: 180px;
    top: 62px;
    height: 265px;
}

.container.log-in .box:after {
    top: 22px;
    left: 192px;
    width: 324px;
    height: 220px;
}

.container.log-in .container-form {
    left: 265px;
}

.container.log-in .container-form .form-item.sign-up {
    left: 0;
    opacity: 1;
}

.container.log-in .container-form .form-item.log-in {
    left: -100%;
    opacity: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 50px;
    height: 50px;
    fill: hsla(229, 56%, 18%, 1);
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

svg:hover {
    fill: rgb(30, 45, 103);
    transform: rotate(-15deg);
    width: 55px;
    height: 55px;
}

.ssg_a {
    position: absolute;
    top: 0;
}


/* RGB Button
======================*/
.btn {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 110px;
    color: #fff;
    background-color: transparent;
    border: #fff 2px solid;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn.in {
    border: none;
    outline: none;

    position: relative;
    z-index: 0;
}

.btn.in:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.btn.in:hover:before {
    opacity: 1;
}

.btn.in:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(229, 56%, 18%, 1);
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn.another:hover {
    background: #fff;
    color: hsla(229, 56%, 18%, 1);
    border: hsla(229, 56%, 18%, 1) 2px solid;
}

.btn.another.nohover:hover {
    background: transparent;
    color: #fff;
    border: #fff 2px solid;
}

.error_message {
    color: hsla(23, 62%, 42%, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -30px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.error_message.green {
    color: hsla(229, 56%, 18%, 1);
}



.table-cell-inner {
    display: flex;
    width: inherit;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center
}

.table-cell-inner form {
    display: flex;
    flex-direction: column;

}

label {
    display: flex;
    text-align: center;
    color: hsla(23, 62%, 42%, 1);
    flex-direction: column;
    margin-bottom: 10px;
}

.accept {
    color: hsla(229, 56%, 18%, 1);
    margin-bottom: 10px;
}

.notice.error {
    color: hsla(23, 62%, 42%, 1);
    margin-bottom: 10px;
    font-size: 15px;
}


/* Media
======================*/
@media (max-width: 640px) {

    .container {
        width: 300px;
    }

    .container .box {
        display: none;
    }

    .container .container-form {
        left: -2px;
    }

    .container .container-forms .container-info {
        position: absolute;
        top: 300px;
    }

    .container .container-forms .container-info .info-item:first-child {
        display: none;
    }

    .container .container-forms .container-info .info-item {
        z-index: 1;
        position: absolute;
        height: 38px;
        top: 0;
    }

    .container .container-forms .container-info .info-item:nth-child(2) .table-cell {
        padding-left: 0;
    }

    .container .container-forms .container-info .info-item p {
        display: none;
    }

    .btn.another {
        padding: 6px 15px;
        width: 220px;
        color: hsla(229, 56%, 18%, 1);
        border: hsla(229, 56%, 18%, 1) solid 1px;
    }

    /* Replace text button */
    .btn.another span {
        display: none;
        position: relative;
    }

    .btn.another::after {
        content: "Нет акаунта?";
    }

    .container.log-in .container-forms .container-info .info-item .table .table-cell .btn.another::after {
        content: "Есть акаунт?";
    }


    /* Hover */
    .btn.another:hover {
        background: hsla(229, 56%, 18%, 1);
        color: #fff;
        border: #fff 2px solid;
    }

    .btn.another.nohover:hover {
        background: transparent;
        color: hsla(229, 56%, 18%, 1);
        border: hsla(229, 56%, 18%, 1) 1px solid;
    }


    /* Singup */
    .container.log-in .container-form {
        left: 0;
    }

    .container .container-form .btn {
        margin-top: 5px;
    }

    .notice.error {
        margin-bottom: 5px;
    }

    label {
        margin-bottom: 5px;
    }
}

@media (max-width: 320px) {
    .container {
        zoom: 80%;
    }
}
@media (max-width: 260px) {
    .container {
        zoom: 70%;
    }
}
@media (max-width: 225px) {
    .container {
        zoom: 60%;
    }
}
@media (max-width: 195px) {
    .container {
        zoom: 50%;
    }
}
@media (max-width: 165px) {
    .container {
        zoom: 40%;
    }
}