/* Content
======================*/
.title {
    position: relative;
    margin: 0;
}

.title a {
    position: absolute;
    content: "";
    top: 15%;
    left: 0;
    z-index: 1;

    border: 0;
    padding: 20px;
}

.title a svg {
    width: 60px;
    fill: #fff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.title a:hover svg { 
    transform: scale(1.2);
    fill: hsla(23, 62%, 42%, 1);
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.content-left {
    position: relative;
    justify-content: normal;
    width: auto;
}

.content-num { 
    position: absolute;
    top: 0;
    left: 0;
}

.content-name {
    margin: 0 40px;
    width: 100%;
    max-width: 800px;
}

.content-author {
    width: max-content;
    display: flex;
    align-items: center;
}

#showmore-triger {
    position: absolute;
    bottom: -100px;
    padding: 10px;
}